{% extends 'base.html' %}

{% block title %} Quiz ZiAA {% endblock %}

{% block content %}
    <img src="static/fail.jpeg" alt="fail" style="width: 700px;height: 550px;">
    <h1 class="title">Das war leider nicht ganz korrekt</h1>

    <div class="has-text-centered">
        Zu den typischen Zuwendungsempfängern gehören weder Firmen, noch ausländische Regierungen oder Einzelpersonen.
        Zwar kommt es vor, dass Einzelpersonen gefördert werden, zum Beispiel wenn Professoren zu Konferenzen der Vereinten Nationen fahren, allerdings handelt es sich hierbei um Ausnahmen.
    </div>

{% endblock %}