{% extends 'base.html' %}

{% block title %} Quiz ZiAA {% endblock %}

{% block content %}
    <img src="static/erfolg.jpg" alt="erfolg" style="width: 700px;height: 550px;">
    <br>
    <h1 class="title">Gratuliere du hast alles richtig gemacht</h1>


    <div class="box">Um das Quiz erneut zu starten, einfach links auf Quiz beginnen klicken</div>
    <form method="POST">
        <div class="field is-grouped">
                <div class="control">
                    <input class="button is-dark" type="submit" value="weiter">
                </div>
        </div>
    </form>

{% endblock %}